<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{{ deck.title }}</title>
  <style>
    {% include 'achievement-face.scss' %}
  </style>
</head>
<body>
{% for card in cards %}
  <article class="card" style="width: {{ card.card_width_mm }}mm; height: {{ card.card_height_mm }}mm;">
    <header class="header">
      <div class="cell name"><span>{{ card.status or card.name }}</span></div>
    </header>
    <div class="box box-desc"></div>
    <div class="desc-text">{{ card.description }}</div>
    {% if card.life_effects %}
    <div class="box box-effects"></div>
    <div class="effects-text">
      <ul>
        {% for effect in card.life_effects %}
        <li>{{ effect }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </article>
{% endfor %}
<script>
{% autoescape false %}
{% include 'fit-header-name.js' %}
{% endautoescape %}
</script>
</body>
</html>
